@import "../index.scss";

.ProtestImage {
	background-image: url(/images/protest.jpeg);
	height: 70%;
	min-height: 500px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.ml {
	margin-left: 12px;
}

@include media-breakpoint-down(sm) {
	.ml {
		margin-left: 36px;
	}
}

@include media-breakpoint-only(sm) {
	.ml {
		margin-left: 50px;
	}
}
@include media-breakpoint-only(md) {
	.ml {
		margin-left: calc((100vw - 678px) / 2);
	}
}
@include media-breakpoint-only(lg) {
	.ml {
		margin-left: calc((100vw - 960px) / 2);
	}
}
@include media-breakpoint-only(xl) {
	.ml {
		margin-left: calc((100vw - 1114px) / 2);
	}
}
@include media-breakpoint-up(xxl) {
	.ml {
		margin-left: calc((100vw - 1320px) / 2);
	}
}


.BannerText {
	font-size: 70px;
	font-style: normal;
	font-weight: 900;
	line-height: 90px;
	letter-spacing: 0.075em;
	text-align: left;
}

.BannerSave {
	margin-top: 5rem !important;
}

.BannerLeft {
	background-color: none;
}

.BannerUkraine {
	margin-bottom: 3rem;
	text-shadow: 5px 5px $dark;
	margin-right: 20px;
}

.BannerTextUkraine {
	box-shadow: 0 0 10px 10px $black;
}

@include media-breakpoint-up(sm) {
	.BannerText {
		font-size: 80px;
		line-height: 100px;
	}
}


@include media-breakpoint-up(md) {
	.BannerText {
		font-size: 110px;
		line-height: 129px;
	}

	.BannerLeft {
		background-color: $dark;
	}

	.BannerSave {
		margin-top: 6rem !important;
	}
	.BannerUkraine {
		background-color: $dark;
	}
	.BannerTextUkraine {
		box-shadow: none;
	}
}

.bolder {
	font-weight: 900;
}

.HashTag {
	font-size: 21px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.Text {
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.img1 {
	background-image: url(/images/home-carousel/1.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.img2 {
	background-image: url(/images/home-carousel/2.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.img3 {
	background-image: url(/images/home-carousel/3.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.img4 {
	background-image: url(/images/home-carousel/4.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.img5 {
	background-image: url(/images/home-carousel/5.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;
}